html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
#root {
  height: 100%;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.todo-app__new-task {
  background-color: #fff;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #a179f3;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.todo-app__controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-app__tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.todo-app__tab {
  width: 33%;
  height: 90vh;
  overflow: scroll;
}
.todo-app__new-task-label {
  color: #a179f3;
}
.screen-md {
  display: none;
}

.todo-app__tab-title {
  font-size: 20px;
  background-color: #49258e;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #49258e;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
mark {
  background-color: yellow;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .todo-app__tabs {
    flex-direction: column;
  }
  .todo-app__tab {
    width: 100%;
  }
  .screen-lg {
    display: none;
  }
  .screen-md {
    display: flex;
  }
  .todo-app__header {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .todo-app__controls {
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    text-align: right;
  }

  .open-menu {
    display: flex;
  }

  .close-menu {
    display: none;
  }
}
